@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* * {
  padding: 0;
  margin: 0;
} */

body {
  overflow-x: hidden;
}

h2,
p {
  font-family: monospace;
}

.header {
  user-select: none;
}

.linkButton:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #FFFFFF);
  transition: all .3s ease;
}

.landing-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  transition: all .6s ease;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .moon {
  transition: transform .6s ease;
}

.moon:hover {
  transform: translateY(5px);
} */