/* GENERAL */
* {
    font-family: "Inconsolata", monospace;
    color: rgb(51, 53, 67);
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.center {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(109, 143, 215); */
    background: linear-gradient(to bottom, rgb(105, 166, 208), rgb(105, 166, 208), rgb(117, 180, 216), rgb(160, 233, 255));
    display: grid;
    grid-template-rows: 60% 1fr;
}

.top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    transition: all 3s ease-out;
    font-family: "Outfit", sans-serif;
    z-index: 20;
    top: -20vh;
}

.play:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: 20% 1fr; */
    width: 100%;
}

/* .keys {
    position: absolute;
    top: 75%;
    left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    grid-auto-flow: column;
} */

.keys {
    margin-top: 5%;
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 15;
    transition: all 0.5s ease;
    opacity: 0;
}

.key-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;

}

.keys img {
    position: relative;
    width: 6%;
    z-index: 20;
    transition: all 0.5s ease;
}

.timer {
    margin-top: 2%;
    z-index: 15;
    background-color: rgb(51, 53, 67);
    width: 50%;
    border-radius: 5px;
    transition: all 2s;
    color: white;
    height: 5%;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.timer-text {
    color: white;
    font-size: 5vh;
    border: 5px;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
}

.water {
    position: absolute;
    top: 80%;
    left: 0;
    max-width: 100vw;
    z-index: 14;
    object-fit: fill;
    transform: scale(1.2);
    animation: waves 5s ease-in-out infinite;
    pointer-events: none;
}

.fish-img,
.platform-img,
.platform-shadow,
.mier-img {
    position: absolute;
    /* bottom: -15%; */
    right: -5%;
    max-height: 100vh;
    z-index: 9;
    object-fit: fill;
    pointer-events: none;
    transition: all .5s ease;
}

.fish-img,
.mier-img {
    right: -4.2%;
}

.fish-img {
    display: none;
    z-index: 10;
    /* transition: none; */
}

.catalog {
    display: none;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
}

.fishes {
    position: fixed;
    left: 7vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* opacity: 0; */
    min-height: 90vh;
    max-height: 90vh;
    /* min-width: 40vh; */
    /* max-width: 40vh; */
    z-index: 100;
    gap: 10px;
    padding: 20px;
    background-color: rgba(140, 186, 231, 0.225);
    pointer-events: all;
    border-radius: 15px;
    text-align: center;
}

.fish {
    background-color: rgba(183, 211, 230, 0.94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8vw;
    transition: all 0.5s ease;
    border-radius: 10%;
    border: rgb(51, 53, 67) 1px solid;
    font-weight: 600;
}

.fish img {
    max-width: 80%;
    transition: all 0.5s ease;
    z-index: 100;
    max-height: 10vh;
}

.fish:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 150;
}

.fish img:hover {
    /* animation: fishShake2 2s ease-in-out infinite; */
    transform: scale(1.5);
}

.fish-info {
    display: none;
    position: fixed;
    /* right: 7vw; */
    right: 11.5vw;
    min-height: 80vh;
    max-height: 80vw;
    min-width: 40vw;
    max-width: 40vw;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    z-index: 100;
    background-color: rgba(183, 211, 230, 0.94);
    pointer-events: all;
    box-sizing: border-box;
    padding: 0% 5%;
}

.fish-info h1,
.fish-info h4,
.fish-info p {
    text-align: center;
    color: rgb(51, 53, 67);
}

.fish-info h4 {
    padding-bottom: 15px;
}

.fish-info p {
    text-align: justify;
    font-size: smaller;
}

.fish-info a {
    padding-top: 15px;
    font-size: larger;
    color: rgb(0, 72, 255);
    animation: grow-shrink 2s ease-in-out infinite;
}


.stars {
    padding: 2.5%;
    animation: gold 2s ease-in-out infinite;
}

.info-img {
    max-width: 40vw;
    height: 25vh;
    padding: 15px;
    transition: all 3s ease;
}

.info-img:hover {
    transform: scale(1.5);
}

.x,
.x2 {
    position: absolute;
    right: 9px;
    top: 0;
    transition: all .2s ease;
}

.x:hover,
.x2:hover,
.x3:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: red;
}

.settings-container {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
}

.counter-container {
    z-index: 30;
    pointer-events: none;
    position: absolute;
    gap: 1vh;
    flex-direction: column;
    display: flex;
    bottom: 2.5vh;
    left: -30vh;
    transition: all 2s ease-in-out;
}

.counter-container p {
    color: white;
}

.cheated {
    display: none;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 2%;
    z-index: 120;
    width: 40vw;
    height: 40vh;
    pointer-events: all;
    background-color: rgba(195, 205, 215, 0.818);
    border-radius: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -20vh;
    bottom: 2.5vh;
    gap: 2.5vh;
    z-index: 100;
    transition: all 2s ease-in-out;
}

.menu img {
    width: 13vh;
    transition: all .2s ease;
}

.menu img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.audio {
    margin-bottom: 15px;
}

.audio img {
    width: 7vw;
    transition: all .5s ease;
}

.audio img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cheat {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 5vh;
    padding: 5px;
}

.cheat-text {
    width: 60%;
    text-align: center;
    height: 50%;
}

.unlock-button {
    border: none;
    border-radius: 5px;
    transition: all 1s ease;
    padding: 2%;
    font-size: large;
    cursor: pointer;
    width: 40%;
    background-color: rgb(123, 130, 144);
    pointer-events: none;
}

.unlock-button:hover {
    transform: scale(1.2);
}

.reset-button {
    border: none;
    border-radius: 5px;
    transition: all 1s ease;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    left: 1vh;
    bottom: 1vh;
}

.reset-button:hover {
    transform: scale(1.1);
    background-color: red;
    color: white;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px);
    z-index: 50;
}

.hidden {
    display: none;
}

.difficulties button {
    border: none;
    border-radius: 5px;
    transition: all .5s ease;
    padding: 5px;
    cursor: pointer;
    left: 2vh;
    bottom: 2vh;
}

.difficulties button:hover {
    transform: scale(1.1);
    background-color: rgb(51, 53, 67);
    color: white;
}

button.current-difficulty {
    background-color: rgb(51, 53, 67);
    color: white;
}

.diff-tooltip {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgba(15, 15, 18, 0.7);
    padding: 10px;
    border-radius: 5px;
    /* min-width: 20vw; */
    max-width: 25vw;
    pointer-events: none;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.diff-tooltip p {
    color: white;
}

.popup-container {
    display: none;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    pointer-events: none;
    transition: all 2s ease-in-out;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 2%;
    z-index: 40;
    min-width: 10vw;
    pointer-events: none;
    background-color: rgba(215, 222, 225, 0.799);
    border-radius: 5px;
    border: rgba(51, 53, 67, 0.316) solid 2px;
    padding: 5%;
    margin-bottom: 4vh;
}

.popup p {
    font-size: 1.5rem;
}

.monologue-container {
    flex-direction: column-reverse;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    z-index: 40;
    position: fixed;
    pointer-events: none;
    transition: all 2s ease-in-out;
}

.monologue {
    font-size: 1.6vh;
    position: fixed;
    opacity: 0;
    display: none;
    right: 15.5vw;
    top: 30vh;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 5px;
    padding: 5px 20px;
    text-align: center;
    transition: all 2s ease-in-out;
}

.bird {
    position: absolute;
    top: 12vh;
    right: -10vw;
    width: 10%;
    max-height: 100vh;
    z-index: 9;
    object-fit: fill;
    pointer-events: none;
    /* transition: all 15s ease-in-out; */
    /* transition: all .5s ease; */
    /* animation: birds 10s infinite; */
}

.cloud {
    position: absolute;
    top: 0;
    left: -80vw;
    width: 90vh;
    max-height: 100vh;
    z-index: 2;
    object-fit: fill;
    pointer-events: none;
}

.cloud-0 {
    top: 10vh;
}

.cloud-1 {
    top: 10vh;
}

.cloud-2 {
    top: 6vh;
}

/* @keyframes birds {
    0% {
        transform: translateX(60vw);
    }

    100% {
        transform: translateX(-60vw);
    }
} */

.start {
    position: absolute;
    z-index: 1000;
    display: flex;
    font-size: 3vh;
    bottom: 27vh;
    font-weight: bold;
    animation: grow-shrink 4s ease-in-out infinite;
    transition: all 2s ease;
    color: white;
    text-shadow: -3px 3px 2px rgba(16, 46, 135, 0.333);
}

.congrats-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1400;
    transition: all 2s ease-in-out;
    opacity: 0;
}

.congrats-img {
    position: absolute;
    z-index: 1400;
    height: 80%;
}

.congrats-txt {
    position: absolute;
    z-index: 1600;
    padding-right: 13vw;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes waves {
    0% {
        transform: scale(1.2) translate(0, 0);
    }

    25% {
        transform: scale(1.2) translate(8px, -6px);
    }

    50% {
        transform: scale(1.2) translate(-7px, 7px);
    }

    75% {
        transform: scale(1.2) translate(6px, -8px);
    }

    100% {
        transform: scale(1.2) translate(0, 0);
    }
}

@keyframes wrong {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(8px, -6px);
    }

    50% {
        transform: translate(-7px, 7px);
    }

    75% {
        transform: translate(6px, -8px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rainbow {
    0% {
        color: rgb(255, 70, 70);
        filter: drop-shadow(0px 0px 5px rgb(255, 70, 70));
    }

    20% {
        color: rgb(255, 221, 117);
        filter: drop-shadow(0px 0px 5px rgb(255, 221, 117));
    }

    40% {
        color: rgb(167, 255, 140);
        filter: drop-shadow(0px 0px 5px rgb(167, 255, 140));
    }

    60% {
        color: rgb(59, 59, 255);
        filter: drop-shadow(0px 0px 5px rgb(59, 59, 255));
    }

    80% {
        color: rgb(225, 94, 255);
        filter: drop-shadow(0px 0px 5px rgb(225, 94, 255));
    }

    100% {
        color: rgb(255, 70, 70);
        filter: drop-shadow(0px 0px 5px rgb(255, 70, 70));
    }
}


@keyframes gold {
    0% {
        color: rgb(255, 227, 113);
        filter: drop-shadow(0px 0px 5px rgb(255, 227, 113));
    }

    50% {
        color: white;
        filter: drop-shadow(0px 0px 5px white);
    }

    100% {
        color: rgb(255, 220, 80);
        filter: drop-shadow(0px 0px 5px rgb(255, 227, 113));
    }
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

/* @keyframes fishShake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    10% {
        transform: translate(5px, -10px) rotate(5deg);
    }

    20% {
        transform: translate(-5px, -15px) rotate(-5deg);
    }

    30% {
        transform: translate(10px, 0) rotate(3deg);
    }

    40% {
        transform: translate(-10px, 5px) rotate(-3deg);
    }

    50% {
        transform: translate(0, -10px) rotate(0deg);
    }

    60% {
        transform: translate(5px, 10px) rotate(3deg);
    }

    70% {
        transform: translate(-5px, 15px) rotate(-3deg);
    }

    80% {
        transform: translate(10px, -5px) rotate(5deg);
    }

    90% {
        transform: translate(-10px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
} */

/* @keyframes fishShake2 {
    0% {
        transform: scale(1) rotate(0deg);
    }

    10% {
        transform: scale(1) rotate(0deg);
    }

    20% {
        transform: scale(1.2) rotate(20deg);
    }

    30% {
        transform: scale(1) rotate(8deg);
    }

    40% {
        transform: scale(1.3) rotate(-16deg);
    }

    50% {
        transform: scale(1) rotate(2deg);
    }

    60% {
        transform: scale(1.2) rotate(18deg);
    }

    70% {
        transform: scale(1) rotate(0deg);
    }

    80% {
        transform: scale(1) rotate(0deg);
    }

    90% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
} */